.filter {
    float: right;
}
.form label{
    margin-right: 15px;
}

.icon-transaction{
    padding-top: 5px;
}

.icon-transaction i {
    padding: 11px 13px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
}

.icon-transaction i img{
    width: 18px;
    height: 30px;
}

.list-group-item h6{
    margin-bottom: 0px;
}