.btn-pink{
    background-color: hotpink;
    color: white;
}
.color label {
    padding: 13.5px 3px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.color label span {
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 50%;
}

.color label span:hover {
    border: 3px solid #fff;
}

.color-active {
    border: 3px solid #fff !important;
}

.icon label {
    padding: 13px 18px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.icon label i {
    font-size: 18px;
}

.icon label:hover {
    background: #6c757d !important;
    color: #fff;
}

.icon-active {
    background: #6c757d !important;
    color: #fff;
}