<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1 class="text-center fw-bold mt-5">Sign Up</h1>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label fw-bold">EMAIL</label>
                    <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">PASSWORD</label>
                    <input type="password" class="form-control" placeholder="******" formControlName="password">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">FIRST NAME</label>
                    <input type="text" class="form-control" placeholder="John" formControlName="first_name">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">LAST NAME</label>
                    <input type="text" class="form-control" placeholder="Doe" formControlName="last_name">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">PHONE</label>
                    <input type="text" class="form-control" placeholder="987654321" formControlName="phone">
                </div>
                <div class="text-center d-grid">
                    <button type="submit" class="btn btn-pink">SIGN UP</button>
                    <a routerLink="/login" class="text-pink mt-3">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

